*{
  margin: 0;
}

body{
  background-color: black;
}

.container {
  border: 1px solid black;
  width: 550px;
  align-items: center;
  margin: auto;

  background-color: white;
}

/* Header */
.header{
  padding: 20px;
  text-align: center;
  background-color: #F55A5A;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;

  color: #FFFFFF;
}

.header--world{
  width: 24px;
  height: 24px;
  left: calc(50% - 24px/2 - 50px);
  top: calc(50% - 24px/2 - 324px);

  padding: 2px;
}

/* Content */
.content{
  padding: 30px 40px;
}

/* Card */
.card{
  display: flex;
  align-items: center;

  padding: 18px 0px;
}

.card--image{
  width: 125px;
  height: 168px;
  left: 40px;
  top: 100px;

  border-radius: 5px;
}

.card--content {
  padding-left: 20px;
}

.content--location{
  display: flex;
  gap:3px;
}
.location--pin{
  width: 7px;
  height: 9.55px;
  left: calc(50% - 7px/2 - 87.5px);
  top: calc(50% - 9.55px/2 - 227.23px);


}
.location--country{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;

  color: #2B283A;
}

.location--maps{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 12px;
  /* identical to box height */
  
  text-decoration-line: underline;
  
  color: #918E9B;

  padding-left: 9px;
}

.content--place{
  width: 326px;
  height: 40px;
  left: 184px;
  top: 136px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  color: #2B283A;

  padding: 7px 0px;
}

.content--date{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 10.24px;
  line-height: 12px;

  color: #2B283A;

}

.content--description{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */


  color: #2B283A;

  padding: 9px 0px;

}

.card--border{
  border: 1px solid #F5F5F5;
}